.selects,
.common-field,
.controls {
  margin-bottom: 20px;
  display: flex;
}

.searching-widget {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  margin: 100px auto;
}

.wrapper {
  width: 80%;
  padding: 10px;
  height: initial;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.selects {
  flex-direction: row;
  justify-content: space-between;
}

.common-field {
  justify-content: space-between;
}

.controls {
  justify-content: space-around;
}

.input-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
