.service {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 1020px;
  border: none;
  border-radius: 20px;
}

.service-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.service-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 20px;
}

.service-header-span {
  font-family: 'Open Sans Bold';
}

.angle-right {
  color: black;
}

.service-request-button,
.service-track-button {
  border-radius: 20px;
  font-size: 18px;
  padding: 0;
}

.service-request-button {
  width: 260px;
  background-color: #db1679;
  color: white;
  height: 40px;
  border: none;
}

.service-track-button {
  width: 200px;
  color: blue;
  border: 2px solid blue;
  align-self: flex-end;
}

.service-requests {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1140px) {
  .service {
    min-height: 320px;
    margin: 50px auto;
    border: 2px solid gray;
  }
  .service-requests {
    flex-direction: row;
  }

  .service-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
