.request {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 0;
}

.request-header {
  margin: 0 0 10px 0;
}

.request-info {
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.request-bottom {
  border-bottom: 1px solid gray;
}

.request-type,
.request-show {
  font-family: 'Open Sans Bold';
  color: #000000;
}

.request-duration {
  font-size: 16px;
}

.request-issues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.point-red {
  color: red;
}

.point-green {
  color: green;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.border-right {
  border-right: 1px solid gray;
}

@media screen and (min-width: 1140px) {
  .request-info {
    flex-direction: row;
    min-height: 150px;
  }

  .request-issues {
    width: 70%;
    flex-direction: column;
  }

  .request {
    padding: 0 20px;
  }
}
