@import '~normalize.css/normalize.css';

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/open-sans-v17-latin-800.woff2') format('woff2'),
    url('./assets/fonts/open-sans-v17-latin-800.woff') format('woff');
}

html,
body {
  font-family: 'Open Sans', 'sans-serif';
}

input,
button {
  outline: 0 !important;
}
