.impacted-info-amount {
  font-family: 'Open Sans Bold';
}

.issue p {
  margin: 0;
  margin-bottom: 10px;
}

.issue-type,
.impacted-info {
  padding-left: 25px;
}

.impacted-info {
  font-size: medium;
}

.issue-info {
  display: flex;
  flex-direction: column;
}

.issue-type,
.issue {
  width: 70%;
}

.circle-green {
  color: green;
}

.circle-red {
  color: red;
}

@media screen and (min-width: 1140px) {
  .issue,
  .impacted-info {
    width: 100%;
  }

  .issue-info {
    flex-direction: row;
  }

  .impacted-info {
    padding-left: 25px;
  }

  .issue-info p:nth-child(2) {
    padding-left: 5px;
  }
}
